**/unilingo/unilingo/obj/**
**/.tmp/**
**/obj/**
**/*.env
**/unilingo/unilingo/unilingo.db-shm
**/unilingo/unilingo/unilingo.db-wal
**/**.csproj.user
**/unilingo/unilingo/obj/Debug/net6.0/unilingo.AssemblyInfo.cs
**/unilingo/unilingo/obj/Debug/net6.0/unilingo.AssemblyInfoInputs.cache
**/unilingo/unilingo/obj/Debug/net6.0/unilingo.GeneratedMSBuildEditorConfig.editorconfig
**/unilingo/.vs/ProjectEvaluation/unilingo.metadata.v5.2
**/unilingo/.vs/unilingo/FileContentIndex/bdd0a559-f381-4999-b697-6376b235deaa.vsidx
**/unilingo/.vs/unilingo/FileContentIndex/c6f6386a-fe1b-4cd1-8eac-9941f8bc4ea7.vsidx
**/unilingo/.vs/unilingo/FileContentIndex/e1b064dc-0504-45ce-add0-c08edcd3eadd.vsidx
**/unilingo/.vs/unilingo/FileContentIndex/ec34ba9b-88a2-4d90-9190-f962a256993d.vsidx
**/unilingo/.vs/unilingo/FileContentIndex/read.lock
**/unilingo/.vs/unilingo/v17/.suo
**/.vs/ProjectSettings.json
**/.vs/slnx.sqlite
**/.vs/unilingoChallenge/v17/.wsuo
**/.tmp/docker-env/secret.env
**/.vscode/**
**/.tmp/**
unilingo/unilingo/obj/Debug/net6.0/unilingo.GeneratedMSBuildEditorConfig.editorconfig
unilingo/obj/unilingo.csproj.EntityFrameworkCore.targets
