<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self' https://www.youtube.com; https://googleads.g.doubleclick.net;"
/>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://www.youtube.com/iframe_api?enablejsapi=1"></script>

<h1 class="title">Unilingo Challenge</h1>

<form (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill">
    <mat-label>Enter YouTube URL</mat-label>
    <input
      matInput
      [(ngModel)]="videoURL"
      name="videoURL"
      placeholder="e.g., https://www.youtube.com/watch?v=yourVideoId"
      required
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>

<div class="container">
  <h3>Most Recent Video: {{ mostRecentVideo }}</h3>
</div>

<div class="container">
  <div *ngIf="videoTitle !== undefined">
    <h3>Title: {{ videoTitle }}</h3>
  </div>

  <div *ngIf="viewCount !== undefined">
    <h3>View Count: {{ viewCount }}</h3>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="checkViewCount()"
    >
      Check
    </button>
  </div>

  <div>
    <h3>Most Recent Comment:</h3>
    <button mat-raised-button color="default" disabled>
      Disabled by YouTube API
    </button>
  </div>

  <!-- Play button section -->
  <div #playerContainer></div>
  <div *ngIf="audioURL !== undefined">
    <button mat-raised-button color="accent" (click)="playAudio()">
      Play Audio
    </button>
  </div>
</div>
